<!DOCTYPE html>
<html ng-app="ptcApp">
<head>
    <title>Angular Product SPA</title>
    <meta charset="utf-8" />
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <script src="Scripts/jquery-1.9.1.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/app.js"></script>
    <script src="Scripts/dir.js"></script>
    <!--<script src="Scripts/SessionLogic.js"></script>-->
    <style>
        .base-class {
            font-size: .6em;
            transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
        }

            .base-class.my-class {
                color: red;
                font-size: 1.2em;
            }
    </style>

</head>
<body ng-controller="PTCController">

    <!-- Angular needs to take over validation, so we add novalidate to the form to keep browsers from doing validation -->
    <form name="productForm" novalidate>

        <div class="container">
            <!-- ** PAGE TITLE AREA ** -->
            <div class="row">
                <div class="col-sm-8">
                    <h2>Html WebApi and Angular</h2>
                </div>
            </div>

            <!--set this to ng-hide="false" when you want to debug some states.-->
            <div class="row" ng-hide="true">
                <ul>
                    <li>isMessageAreaVisible: {{uiState.isMessageAreaVisible}}</li>
                    <li>productForm.$valid: {{productForm.$valid}}</li>
                    <li>productForm.$pristine: {{productForm.$pristine}}</li>
                    <li>uiState.mode: {{uiState.mode}}</li>
                    <li ng-repeat="msg in uiState.messages">
                        {{msg.property}}  {{msg.message}}
                    </li>
                </ul>
            </div>

            <!-- ** BEGIN MESSAGE AREA ** -->
            <div ng-hide="!uiState.isMessageAreaVisible || (productForm.$valid && !productForm.$pristine)" class="row">
                <div class="alert alert-warning" role="alert">
                    <ul>
                        <li ng-show="productForm.ProductName.$error.required">Product Name is Required.</li>
                        <li ng-show="!productForm.ProductName.$valid">Product Name must have more than 4 characters and less than 150.</li>

                        <li ng-show="productForm.IntroductionDate.$error.required">Introduction Date is Required.</li>
                        <li ng-show="!productForm.IntroductionDate.$valid">Invalid Introduction Date.</li>

                        <li ng-show="productForm.Url.$error.required">Url is Required.</li>
                        <li ng-show="productForm.Url.$error.microsoft">Url cannot have the word 'Microsoft' in it.</li>

                        <li ng-show="productForm.Price.$error.required">Price is Required.</li>
                        <li ng-show="!productForm.Price.$valid">Price must be btween $0.01 and $9.999.</li>

                        <!--For Server Side Validation-->
                        <li ng-repeat="msg in uiState.messages">
                            {{msg.message}}
                        </li>
                    </ul>
                </div>
            </div>


            <!-- ** BEGIN SEARCH AREA ** -->
            <div ng-show="uiState.isSearchAreaVisible" class="panel panel-primary">
                <div class="panel-heading"></div>
                <div class="panel-body">
                    <div class="form-horizontal">
                        <label for="productSearch">Product Search</label>
                        <input class="form-control input-sm" id="productSearch" />
                    </div>

                </div>
                <div class="panel-footer">
                    <button type="button" id="searchButton" class="btn btn-sm btn-primary" ng-click="searchClick()"><i class="glyphicon glyphicon-search"></i> Search</button>
                    <button type="button" id="resetButton" class="btn btn-sm btn-primary" ng-click="cancelClick()"><i class="glyphicon glyphicon-refresh"></i> Reset</button>
                    <button type="button" id="addButton" class="btn btn-sm btn-success" ng-click="addClick()"
                            data-toggle="tooltip" data-placement="right" title="Create a new record.">
                        <i class="glyphicon glyphicon-plus"></i> Add
                    </button>
                </div>
            </div>


            <!-- ** BEGIN LOADING AREA ** -->
            <div ng-show="uiState.isLoading" class="row">
                <div class="alert alert-info" role="alert">
                    <i class="glyphicon glyphicon-cog"></i> LOADING...
                </div>
            </div>


            <!-- ** BEGIN LIST AREA ** -->
            <div ng-show="uiState.isListAreaVisible" class="table-responsive">
                <table id="productTable" class="table table-bordered table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>Edit</th>
                            <th>Product Name</th>
                            <th>Introduction Date</th>
                            <th>URL</th>
                            <th>Price</th>
                            <th>Summary</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="product in products">
                            <td class='pdsa-action-button-column'>
                                <a href='#' class="btn btn-default btn-sm"
                                   data-toggle="tooltip" data-placement="bottom" title="Edit ID:{{product.ProductId}}"
                                   ng-click="editClick(product.ProductId)">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </a>
                            </td>
                            <td>{{product.ProductName}}</td>
                            <td>{{product.IntroductionDate | date}}</td>
                            <td>{{product.Url}}</td>
                            <td>{{product.Price | currency : "$"}}</td>
                            <td class="base-class" ng-class="myVar">{{product.Summary}}</td>
                            <td class='pdsa-action-button-column'>
                                <div class="col-md-12">
                                    <a href='#' id="setbtn" tooltip="zoom" ng-click="myVar='my-class'" class="btn btn-sm">
                                        <i class="glyphicon glyphicon-resize-full"></i>
                                    </a>
                                    <a href='#' id="clearbtn" tooltip="reset" ng-click="myVar=''" class="btn btn-sm">
                                        <i class=" glyphicon glyphicon-resize-small"></i>
                                    </a>
                                </div>

                                <div class="col-md-12">
                                    <a href='#' class="btn btn-warning btn-sm"
                                       data-toggle="tooltip" data-placement="bottom" title="Delete ID:{{product.ProductId}}" ng-click="deleteClick(product.ProductId)">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>


                </table>
            </div>

            <!-- ** BEGIN DETAIL AREA ** -->
            <div ng-show="uiState.isDetailAreaVisible" class="panel panel-primary">

                <div class="panel-heading">
                    Product Information
                </div>
                <div class="panel-body">
                    <div class="has-feedback" ng-class="{ 'has-error': !productForm.ProductName.$valid, 'has-success' : productForm.ProductName.$valid }">
                        <div class="form-group ">
                            <label for="ProductName">Product Name</label>
                            <!-- angular validation uses the 'name' and value to determine if is valid. so make id and name the same -->
                            <input type="text" id="ProductName" name="ProductName"
                                   required
                                   ng-minlength="5"
                                   ng-maxlength="150" class="form-control" ng-model="product.ProductName" />
                            <span class="glyphicon form-control-feedback" ng-class="{'glyphicon-ok':productForm.ProductName.$valid, 'glyphicon-warning-sign':!productForm.ProductName.$valid}" aria-hidden="true"></span>

                        </div>
                    </div>
                    <div class="has-feedback" ng-class="{ 'has-error': !productForm.IntroductionDate.$valid, 'has-success' : productForm.IntroductionDate.$valid}">
                        <div class="form-group">
                            <label for="IntroductionDate">Introduction Date</label>
                            <input type="text" id="IntroductionDate" name="IntroductionDate"
                                   required
                                   class="form-control" ng-model="product.IntroductionDate" />
                            <span class="glyphicon form-control-feedback" ng-class="{'glyphicon-ok':productForm.IntroductionDate.$valid, 'glyphicon-warning-sign':!productForm.IntroductionDate.$valid}" aria-hidden="true"></span>
                        </div>
                    </div>

                    <div class="has-feedback" ng-class="{ 'has-error': !productForm.Url.$valid, 'has-success' : productForm.Url.$valid }">
                        <div class="form-group">
                            <label for="Url">URL</label>
                            <input type="text" id="Url" name="Url"
                                   required
                                   url-microsoft
                                   class="form-control" ng-model="product.Url" />
                            <span class="glyphicon form-control-feedback" ng-class="{'glyphicon-ok':productForm.Url.$valid, 'glyphicon-warning-sign':!productForm.Url.$valid}" aria-hidden="true"></span>
                        </div>
                    </div>

                    <div class="has-feedback" ng-class="{ 'has-error': !productForm.Price.$valid, 'has-success' : productForm.Price.$valid}">
                        <div class="form-group">
                            <label for="Price">Price</label>
                            <input type="number" id="Price" name="Price"
                                   required
                                   min="0.01" max="9999.99"
                                   class="form-control" ng-model="product.Price" />
                            <span class="glyphicon form-control-feedback" ng-class="{'glyphicon-ok':productForm.Price.$valid, 'glyphicon-warning-sign':!productForm.Price.$valid}" aria-hidden="true"></span>
                        </div>
                    </div>

                    <div class="has-feedback" ng-class="{ 'has-error': !productForm.Summary.$valid, 'has-success' : productForm.Summary.$valid }">
                        <div class="form-group">
                            <label for="Summary">Summary</label>
                            <textarea id="Summary" name="Summary" class="form-control base-class" ng-class="myVar" ng-model="product.Summary"></textarea>
                            <span class="glyphicon form-control-feedback" ng-class="{'glyphicon-ok':productForm.Summary.$valid, 'glyphicon-warning-sign':!productForm.Summary.$valid}" aria-hidden="true"></span>
                            <a href='#' id="setbtn" tooltip="zoom" ng-click="myVar='my-class'" class="btn btn-sm">
                                <i class="glyphicon glyphicon-resize-full"></i>
                            </a>
                            <a href='#' id="clearbtn" tooltip="reset" ng-click="myVar=''" class="btn btn-sm">
                                <i class=" glyphicon glyphicon-resize-small"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="ProductId" name="ProductId" value="{{product.ProductId}}" />
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="button" id="updateButton" class="btn btn-primary btn-sm" ng-click="saveClick()"
                                    data-toggle="tooltip" data-placement="bottom" title="Update Record #{{product.ProductId}}">
                                <i class="glyphicon glyphicon-floppy-disk"></i> Save
                            </button>

                            <button type="button" id="cancelButton" class="btn btn-primary btn-sm" ng-click="cancelClick()"
                                    data-toggle="tooltip" data-placement="bottom" title="Do Not Save It!">
                                <i class="glyphicon glyphicon-remove-circle"></i> Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>


            <!--Page Selection AREA-->
            <div class="row">
                <div class="col-xs-6 text-center">
                    <a href="Default.html" class="btn btn-sm btn-default"
                       data-toggle="tooltip" data-placement="right" title="Do-It with JQuery">JQuery Version</a>
                </div>
                <div class="col-xs-6 text-center">
                    <a href="Angular.html" class="btn btn-sm btn-primary"
                       data-toggle="tooltip" data-placement="left" title="We Are Doing-It with Angular">Angular Version</a>
                </div>
            </div>
        </div>
    </form>
    <script type="text/javascript">


        // create an angular application scope
        (function () {
            // 'use strict';

            angular.module('ptcApp', [])
                .controller('PTCController', PTCController)
                .directive('urlMicrosoft', urlMicrosoft);



        })();


        $(function () {
            // some bootstrap fun
            $('[data-toggle="tooltip"]').tooltip();
        });

    </script>
</body>
</html>